<div>
    <h2 id="page-heading">
        <span jhiTranslate="indxApp.secao.home.title">Secaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-secao" [routerLink]="['/secao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="indxApp.secao.home.createLabel">
            Create a new Secao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="secaos?.length === 0">
        <span jhiTranslate="indxApp.secao.home.notFound">No secaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="secaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.secao.titulo">Titulo</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.secao.descricao">Descricao</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.secao.revista">Revista</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let secao of secaos ;trackBy: trackId">
                    <td><a [routerLink]="['/secao', secao.id, 'view']">{{ secao.id }}</a></td>
                    <td>{{ secao.titulo }}</td>
                    <td>{{ secao.descricao }}</td>
                    <td>
                        <div *ngIf="secao.revista">
                            <a [routerLink]="['/revista', secao.revista?.id, 'view']" >{{ secao.revista?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/secao', secao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/secao', secao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(secao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
