<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="edicao">
            <h2><span jhiTranslate="indxApp.edicao.detail.title">Edicao</span> {{ edicao.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="indxApp.edicao.numero">Numero</span></dt>
                <dd>
                    <span>{{ edicao.numero }}</span>
                </dd>
                <dt><span jhiTranslate="indxApp.edicao.dataPublicacao">Data Publicacao</span></dt>
                <dd>
                    <span>{{ edicao.dataPublicacao }}</span>
                </dd>
                <dt><span jhiTranslate="indxApp.edicao.referencia">Referencia</span></dt>
                <dd>
                    <span>{{ edicao.referencia }}</span>
                </dd>
                <dt><span jhiTranslate="indxApp.edicao.revista">Revista</span></dt>
                <dd>
                    <div *ngIf="edicao.revista">
                        <a [routerLink]="['/revista', edicao.revista?.id, 'view']">{{ edicao.revista?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/edicao', edicao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
