<div>
    <h2 id="page-heading">
        <span jhiTranslate="indxApp.edicao.home.title">Edicaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-edicao" [routerLink]="['/edicao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="indxApp.edicao.home.createLabel">
            Create a new Edicao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="edicaos?.length === 0">
        <span jhiTranslate="indxApp.edicao.home.notFound">No edicaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="edicaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.edicao.numero">Numero</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.edicao.dataPublicacao">Data Publicacao</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.edicao.referencia">Referencia</span></th>
                    <th scope="col" ><span jhiTranslate="indxApp.edicao.revista">Revista</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let edicao of edicaos ;trackBy: trackId">
                    <td><a [routerLink]="['/edicao', edicao.id, 'view']">{{ edicao.id }}</a></td>
                    <td>{{ edicao.numero }}</td>
                    <td>{{ edicao.dataPublicacao | date:'mediumDate' }}</td>
                    <td>{{ edicao.referencia }}</td>
                    <td>
                        <div *ngIf="edicao.revista">
                            <a [routerLink]="['/revista', edicao.revista?.id, 'view']" >{{ edicao.revista?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/edicao', edicao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/edicao', edicao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(edicao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
